<div class="row" id="app">
    <div class="col-md-8 col-md-offset-2">
        <button class="btn btn-primary" v-on:click="addClick">Add</button>
    </div>

    <table class="table table-hover table-striped table-bordered">
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>

        <template v-for="person in people">
            <tr>
                <td>{{person.FirstName}}</td>
                <td>{{person.LastName}}</td>
                <td>{{person.Age}}</td>
                <td>
                    <button class="btn btn-warning" v-on:click="editClick(person)">Edit</button>
                    <button class="btn btn-danger" v-on:click="deletePerson(person.Id)">Delete</button>
                </td>
            </tr>
        </template>

    </table>

    <div class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Modal title</h4>
                </div>
                <div class="modal-body">
                    <input type="text" class="form-control" placeholder="First Name" v-model="modalPerson.firstName" />
                    <br />
                    <input type="text" class="form-control" placeholder="Last Name" v-model="modalPerson.lastName" />
                    <br />
                    <input type="text" class="form-control" placeholder="Age Name" v-model="modalPerson.age" />
                    <br />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" v-on:click="updateClick" v-if="editMode">Update</button>
                    <button type="button" class="btn btn-primary" v-on:click="saveClick" v-else>Save changes</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
</div>

@section scripts
 {
    <script src="~/Scripts/people.js"></script>
}