<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VueJs.Data.Properties.Settings.AjaxPersonCarsConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=AjaxPersonCars;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>